@mixin hover-shadow() {
  border: 1px solid #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.toolbar-banner {
  position: fixed;
  top: 0;
  height: 50px;
  width: 25%;
  padding:5px;
  text-align: center;
}

.toolbar-diagrams {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  padding: 80px 15px;
  height:100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.toolbar-menu {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 25%;
  padding:10px;
  background-color: #d0e5f5;
  text-align: center;
}

.toolbar-diagram {
  text-align: center;
  cursor: move;

  .template {
    width: auto;

    .entity {
      height: 100px;
    }
  }

  .name {
    @include unselectable();
  }

  &:hover {
    @include hover-shadow();
  }
}

.editor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  overflow: auto;
  background: transparent url('../img/background.png');
  height:100%;

  .editor-container {
    height:100%;
    width: 100%;
  }
}

// style for table entity in er diagram
.er-entity {
  border: 2px solid black;
  min-width: 180px;
  min-height: 109px;
  width: auto;
  height: auto;
  background-color: white;

  & > .name:first-child {
    height: 30px;
    line-height: 30px;
    @include unselectable();
    text-align: center;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
}

.er-attribute {
  height: 25px;
  line-height: 25px;
  & > .name {
    @include unselectable();
    text-align: center;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid black;
  }
}

.primary-key {
  font-weight: bold;
}
