<div class="toolbar-banner">
    <div class="row">
        <div class="col-md-12">
            <h3>ER Diagram Editor</h3>
        </div>
    </div>
</div>
<div class="toolbar-diagrams">
    <div class="toolbar-diagram"
         data-drag="true" id="entity" data-jqyoui-options="{revert: 'invalid', helper: 'clone', containment : '.editor', scroll: true, appendTo: '.editor'}"
         jqyoui-draggable>
        <div class="template">
            <img class="entity" src="asset/img/diagram/entity.png" alt="">
        </div>
        <div class="name">
            Entity
        </div>
    </div>
    <div class="toolbar-diagram"
         data-drag="true" id="relationship" data-jqyoui-options="{revert: 'invalid', helper: 'clone', containment : '.editor', scroll: true, appendTo: '.editor'}"
         jqyoui-draggable>
        <div class="template">
            <img class="entity" src="asset/img/diagram/relationship.png" alt="">
        </div>
        <div class="name">
            Relationship
        </div>
    </div>
</div>
<div class="toolbar-menu">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.onSaveData()">Save</button>
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.onLoadData()">Load</button>
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.onClearData()">Clear</button>
            <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.onGenerate()">Generate</button>
        </div>
    </div>
</div>